@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.logo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 100%;
  color: #000000;
}

.nav-menu ul,
.icons ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu a,
.icons a {
  text-decoration: none;
  color: inherit;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}

.icons img {
  width: 24px;
  height: 24px;
}

/* main */
.hero-section {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Position text over image */
.hero-text {
  position: absolute;
  top: 70%;
  left: 90%;
  transform: translate(-85%, -70%);
  text-align: left;
  width: 643px;
  height: 443px;
  padding: 20px;
  background-color: #fff3e3;
}

/* Typography and button */
.hero-text h3 {
  font-size: 20px;
  font-size: 16px;
  margin: 40px 40px 0 40px;
  font-family: "Poppins", sans-serif;
}

.hero-text h2 {
  font-size: 52px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin: 40px 40px 0 40px;
  color: #b88e2f;
}

.hero-text p {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
}

.hero-text button {
  width: 222px;
  height: 70px;
  text-align: center;
  background-color: #b88e2f;
  color: #ffff;
  border: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* browse */
.browse h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #333333;
  margin: 50px;
}

.lorem {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #666666;
}

.browse-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px;
}

.browse-box {
  position: relative;
  text-align: center;
}

.browse-box img {
  width: 381px;
  height: 480px;
  object-fit: cover;
}

.browse-box p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  margin-top: 30px;
  color: #333333;
}

/* our products */
#grid h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 30px;
}

.card {
  background: #f4f5f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  margin-bottom: 10px;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e97171;
  color: #ffff;
  font-size: 12px;
  border-radius: 50%;
  padding: 4px 8px;
}

.badge.green {
  background: #2ec1ac;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0 4px;
}

.desc {
  color: gray;
  font-size: 14px;
}

.price {
  margin-top: 10px;
  font-weight: bold;
}

.old-price {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
  margin-left: 8px;
}

.button-container {
  text-align: center;
  margin-top: 40px;
}

.show-more {
  border: 1px solid goldenrod;
  color: goldenrod;
  background: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.show-more:hover {
  background-color: #fff7e0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay button {
  background: #ffff;
  color: #b88e2f;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.actions span {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.actions img {
  width: 24px;
}
